head{
	font-family: times;
}
body{
	background-color: #F5A9BC;
color:white;
text-align: center;
font-family:times;
align-items: center;}

h1{
	font-size:70px; 
}

ol{
	font-size: 50px;
}

#triangle-down{
	width: 100px;
	height: 150px;
	border-left: 200px solid transparent;
	border-right: 200px solid transparent;
	border-top: 300px solid red;

}
	
